.about__wrapper {
    margin: 0 15px;
    display: flex;
    justify-content: space-between;
}
.about__content {
    max-width: 540px;
}
.about__title {
    margin-bottom: 60px;
}
.about__title::before {
    content: url("../img/about/equalizer-icon.svg");
    padding-right: 30px;
}
.about__text {
    font-size: 16px;
    color: #bababc;
}
.about__text {
    margin: 20px 0px 60px;
}
.about__info {
    color: #fff;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
    row-gap: 33px;
}
.about__info-item {
    width: 50%;
}
.about__info-item::before {
    content: url("../img/about/petal-icon.svg");
    display: inline-block;
    width: 30px;
    height: 30px;
    padding-right: 20px;
    vertical-align: middle;
}
.about__img {
    max-width: 445px;
    padding: 64px 0px;
}

@media (max-width: 1075px) {
    .about__wrapper {
        flex-direction: column;
        align-items: center;
    }
    .about__content {
        max-width: unset;
    }
}

@media (max-width: 555px) {
    .about__info {
        row-gap: 18px;
    }
    .about__info-item {
        width: 100%;
    }    
}

@media (max-width: 506px) {
    .about__img {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .about__text {
        font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (500 - 320)));
    }
    .about__info {
        font-size: 15px;
}
}

@media (max-width: 350px) {
    .about__title::before {
        padding-right: 3px;
    }
}