.tracks {
    color: #fff;
}
.tracks__wrapper {
    display: flex;
    justify-content: space-between;
}
.tracks__img {
    width: 510px;
    height: 510px;
}
.tracks__content {
    width: 518px;
}
.tracks__title {
    margin-bottom: 60px;
}
.tracks__title::before {
    content: url("../img/about/equalizer-icon.svg");
    padding-right: 30px;
}
.tracks__content-wrapper {
    margin-bottom: 50px;
}
.playlist {
    counter-reset: track;
    margin-top: 50px;
}
.playlist__item {
    cursor: pointer;
}
.playlist__item.plays {
    color: #7A66CC;
    font-weight: 600;
}
.playlist__item:not(:last-child) {
    margin-bottom: 20px;
}
.playlist__item::before {    
    counter-increment: track;     
    content: "0"counter(track);
    padding-right: 17px;
    font-weight: bold;
    font-size: 14px;
    opacity: 0.5;
  }
.music-services__text {
    font-size: 24px;
    font-weight: 600;
    margin-right: 40px;
}
.music-services__link {
    font-size: 14px;
    font-weight: 600;
}
.music-services__link + .music-services__link {
    margin-left: 30px;
}
.music-services__link::before {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    padding-right: 10px;
}
.music-services__link_spotify::before {
    content: url(../img/tracks/spotify-icon.svg);
}
.music-services__link_itunes::before {
    content: url(../img/tracks/apple-icon.svg);
}

@media (max-width: 1070px) {
    .tracks__img {
        width: 100%;
        height: unset;
    }
}

@media (max-width: 1062px) {
    .tracks__wrapper {
        flex-direction: column-reverse;
        align-items: center;
        row-gap: 27px;
    }
    .tracks__img {
        max-width: 465px;
    }
    .tracks__content {
        width: unset;
    }
}

@media (max-width: 700px) {
    .tracks__img {
        max-width: 399px;
    }
}

@media (max-width: 500px) {    
    .audioplayer {
        justify-content: unset;
        gap: 20px;
    }
    .audioplayer__play-img {
        width: 20px;
        height: 23px;
    }
    .progress-bar {
        width: 230px;
    }
    .audioplayer__timer {
        width: 95px;
        font-size: 14px;
    }
}

@media (max-width: 440px) {
    .music-services {
        display: flex;
        flex-wrap: wrap;
        column-gap: 30px;
    }
    .music-services__text {
        font-size: 20px;
        margin-right: 0px;
    }
    .music-services__link + .music-services__link {
        margin-left: 0px;
    }
}

@media (max-width: 415px) {
    .audioplayer {
        justify-content: space-between;
        gap: 0px;
    }
    .progress-bar {
        width: 200px;
    }
}

@media (max-width: 373px) {
    .music-services {
        display: block;
    }
    .music-services__text {
        font-size: 19px;
    }
}

@media (max-width: 363px) {
    .progress-bar {
        width: 158px;
    }
}